@use "sass-rem" as rem;

.vehicle {
  &__price,
  &__description {
    color: #4C5146
  }

  @media (max-width: 599.98px) and (orientation: portrait), (max-width: 959.98px) and (orientation: landscape) {
    width: 676px;
    height: 170px;

    display: flex;
    flex-direction: row;

    &__image,
    &__content {
      display: none;
    }

    &__image {
      &--1x1 {
        width: 180px;
        height: 170px;
      }

      &--16x9 {
        display: none;
      }
    }

    &__content {
      padding: 29px 39px;
    }

    &__name {
      margin-bottom: rem.convert(6px);

      font-size: rem.convert(27px);
      font-weight: 600;

      letter-spacing: rem.convert(0.25px);

      text-transform: uppercase;
    }

    &__price {
      margin-bottom: rem.convert(19px);

      font-size: rem.convert(22px);

      letter-spacing: rem.convert(3px);
    }

    &__description {
      font-size: rem.convert(21px);

      letter-spacing: rem.convert(0.75px);
    }
  }

  @media (min-width: 600px) and (max-width: 839.98px) and (orientation: portrait), (min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape) {
    height: 666px;
    width: 768px;

    &__image,
    &__content {
      display: none;
    }

    &__image {
      &--1x1 {
        display: none;
      }

      &--16x9 {
        width: 768px;
        height: 444px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: rem.convert(46px);
    }

    &__name {
      margin-bottom: rem.convert(36px);
      padding: rem.convert(6px 0 4px 0);

      border-top: 2px solid black;
      border-bottom: 2px solid black;

      font-size: rem.convert(31px);
      font-weight: 600;

      letter-spacing: rem.convert(0.25px);

      text-transform: uppercase;
  }

  &__price {
    margin-bottom: rem.convert(19px);

    font-size: rem.convert(22px);

    letter-spacing: rem.convert(3px);
  }

  &__description {
    font-size: rem.convert(26px);

    letter-spacing: rem.convert(0.75px);

    text-align: center;
  }
  }

  @media (min-width: 840px) and (orientation: portrait), (min-width: 1280px) and (orientation: landscape) {
    height: 654px;
    width: 702px;

    &__image {
      height: 406px;

      &--1x1 {
        display: none;
      }

      &--16x9 {
        height: 406px;
        width: 702px;
      }
    }

    &__content {
      height: 292px;
      width: 702px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      border-left: 2px solid #EEF1F1;
    }

    &__name {
      margin: rem.convert(50px 0 36px 0);
      padding: rem.convert(6px 0 4px 0);

      border-top: 2px solid black;
      border-bottom: 2px solid black;

      font-size: rem.convert(31px);
      font-weight: 600;

      letter-spacing: rem.convert(0.25px);

      text-transform: uppercase;
    }

    &__price {
      margin-bottom: rem.convert(19px);

      font-size: rem.convert(22px);

      letter-spacing: rem.convert(3px);
    }

    &__description {
      font-size: rem.convert(26px);

      letter-spacing: rem.convert(0.75px);

      width: 408px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      text-align: center;
    }
  }
}
